@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    background: url("./Assets/Background_photo.png") center / cover no-repeat;
}
.container{
    background-color: rgb(49, 5, 90);
    width: 60%;
    height: 400px;
    border-radius: 20px;
    color: white;
    margin: 150px auto;
    text-align: center;
}
.container p{
    font-family: "Playwrite NZ Basic", cursive;
    padding-top: 30px;
    font-size: 20px;
}
.container h1{
    height: 0;
    font-size: 90px;
}
.full_time{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.texts{
    display: flex;
    justify-content: center;
    gap: 120px;
    padding: 30px 0;
}
.btn_box{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}
button{
    color: white;
    padding: 10px 60px;
    font-size: 15px;
    border-radius: 20px;
    border: none;
    font-family: "Roboto Mono", monospace;;
}
.start{
    background-color: orange;
    display: block;
}
.pause{
    background-color: orchid;
    display: none;
}